<app-loading *ngIf="isFirst"></app-loading>
<app-add-emp *ngIf="addEmp" (addEmp)="addEmployee($event)"></app-add-emp>

<div class="container-fluid cream" >
	<br><br>
	<div *ngIf="deletedEmployee" class="alert alert-danger " role="alert">
		<strong>Employee Deleted</strong> 
	</div>
	<div class="container "  [@employees]="employees">
		<div class="round-div round-div-header col-12 row  font-weight-bold"> 
			
				<div class="col-2">ID</div>
				<div class="col-4">NAME</div>
				<div class="col-3">SALARY</div>
				<div class="col-3 pull-right">DELETE</div>
			
		</div>
		<div class="clearfix"></div>
			<div class="left-margin" *ngFor =" let employee of employees">
			    <div class="round-div col-12 row  "> 			
					<div class="col-2">{{employee.id}}</div>
					<div class="col-4">{{employee.name }} </div>
					<div class="col-3">{{employee.salary |currency:"INR"}}</div>
					<div class="col-3"><button class="btn btn-danger btn-sm pull-right" (click)=" delete(employee) ">Delete</button></div>
					
				</div>
			</div>
			<!-- <tr *ngFor =" let employee of employees" >
				<td scope="row">{{employee.id}}</td>
				<td>{{employee.name}} </td>
				<td>{{employee.salary}}</td>
				<td><button class="btn btn-danger" (click)=" delete(employee) ">Delete</button></td>
			</tr> -->		
	</div>
<br>
	<div class="col-12  ">
		<div class="col-12 col-lg-1 mx-auto">
		<button class="btn btn-primary btn-lg-block btn-block btn-rounded mx-auto " (click)="add()">Add</button>
		</div>
	</div>

</div>