<app-loading *ngIf="isFirst"></app-loading>
<app-add-emp *ngIf="addEmp" (addEmp)="addEmployee($event)"></app-add-emp>

<div class="container-fluid cream top-buffer" >
	<div *ngIf="deletedEmployee" class="alert alert-danger " role="alert">
		<strong>Employee Deleted</strong> 
	</div>
	<div class="  container table-responsive"  [@employees]="employees">
		<div class="round-div  row text-center font-weight-bold"> 
			
				<div class="col-xl-2">ID</div>
				<div class="col-xl-5">NAME</div>
				<div class="col-xl-3">SALARY</div>
				<div class="col-xl-2">DELETE</div>
			
		</div>
			<div class="" *ngFor =" let employee of employees">
			    <div class="round-div  row "> 			
					<div class="col-xl-2">{{employee.id}}</div>
					<div class="col-xl-5">{{employee.name}} </div>
					<div class="col-xl-3">{{employee.salary}}</div>
					<div class="col-xl-2"><button class="btn btn-danger btn-sm" (click)=" delete(employee) ">Delete</button></div>
				</div>
			</div>
			<!-- <tr *ngFor =" let employee of employees" >
				<td scope="row">{{employee.id}}</td>
				<td>{{employee.name}} </td>
				<td>{{employee.salary}}</td>
				<td><button class="btn btn-danger" (click)=" delete(employee) ">Delete</button></td>
			</tr> -->		
	</div>

	<div class="offset-sm-5 col-sm-2"><button h class="btn btn-primary  btn-rounded span12 " (click)="add()">Add</button></div>

</div>